In [20]:
import pandas as pd
import numpy as np
from Datapreprocessing import DataProcessor
from matplotlib import pyplot as plt
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Read in and preprocess the data

In [21]:
train_folder = 'train_tsv1'
test_folder = 'test_tsv1'
train_metadata_path = 'metadata/training_metadata.csv'
test_metadata_path = 'metadata/test_metadata.csv'

In [22]:
processor = DataProcessor(train_folder, test_folder, train_metadata_path, test_metadata_path)
train_data, test_data = processor.prepare_datasets()

In [23]:
train_data.head()

,participant_id,correlation_id,correlation_value,age,sex,study_site,bmi,ethnicity,race,handedness,parent_1_education,parent_2_education,p_factor_fs,internalizing_fs,externalizing_fs,attention_fs
0,NDAREE015WGU,corr_1,0.074628,13.35,Female,HBNsiteCBIC,19.1,Not_Hispanic_or_Latino,Other,Right,Complete_tertiary,Complete_tertiary,0.59,-0.15,0.29,-1.6
1,NDAREE015WGU,corr_2,0.673757,13.35,Female,HBNsiteCBIC,19.1,Not_Hispanic_or_Latino,Other,Right,Complete_tertiary,Complete_tertiary,0.59,-0.15,0.29,-1.6
2,NDAREE015WGU,corr_3,0.813541,13.35,Female,HBNsiteCBIC,19.1,Not_Hispanic_or_Latino,Other,Right,Complete_tertiary,Complete_tertiary,0.59,-0.15,0.29,-1.6
3,NDAREE015WGU,corr_4,0.725489,13.35,Female,HBNsiteCBIC,19.1,Not_Hispanic_or_Latino,Other,Right,Complete_tertiary,Complete_tertiary,0.59,-0.15,0.29,-1.6
4,NDAREE015WGU,corr_5,0.823861,13.35,Female,HBNsiteCBIC,19.1,Not_Hispanic_or_Latino,Other,Right,Complete_tertiary,Complete_tertiary,0.59,-0.15,0.29,-1.6

In [24]:
train_data.shape

(21969600, 16)

In [25]:
test_data.shape

(9432600, 15)

In [26]:
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

## EDA and Missing Values

In [27]:
na_counts = processor.train_data.isna().sum()
columns_with_na = na_counts[na_counts > 0]
print(columns_with_na)

bmi                    358200
ethnicity             2169100
race                  3343200
parent_1_education    3641700
parent_2_education     437800
dtype: int64

In [17]:
processor.train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Columns: 19914 entries, participant_id to attention_fs
dtypes: float64(19906), object(8)
memory usage: 167.7+ MB

In [18]:
# Check for the 8 object columns
object_columns = processor.train_data.select_dtypes(include=['object']).columns
print("Object columns in the training data:")
for col in object_columns:
    print(f" - {col}")

Object columns in the training data:
 - participant_id
 - sex
 - study_site
 - ethnicity
 - race
 - handedness
 - parent_1_education
 - parent_2_education